.top_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:40px;
  padding:0 10%;
  border-bottom:1px solid lightgrey
}
.top_nav .links_container {
  display: flex;
  align-items: stretch;
  height:100%
}
.top_nav > i {
  display: none;
  font-size: 25px;
  color:var(--prime);
  padding:0 10px;
  cursor: pointer;
}
.top_nav .links_container a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding:0 10px;
  font-size: 14px;
  border-right:1px solid lightgrey;
  color:var(--a)
}
.top_nav .socials_container {
  display: flex;
  align-items: center;
  height: 100%;
}
.top_nav .socials_container i {
  display: flex;
  justify-content: center;
  align-items: center;
  color:var(--prime);
  border-bottom: none;
  border-top: none;
  border-right: none;
  height: 100%;
  width:40px;
}
.title_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}
.title_container img {
  height: 100%;
}
.bottom_nav {
  display: block;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:60px;
  padding:0 10%;
  background-color: var(--d)
}
.bottom_nav ul {
  display: flex;
  align-items: center;
  height: 100%;
}
.bottom_nav ul li {
  height: 100%;
}
.bottom_nav ul li a {
  display: flex;
  height: 100%;
  border-right:1px solid #222831;
  align-items: center;
  padding: 0 20px;
  font-size: 14px;
  color:#fff
}
.bottom_nav .burger i {
  color:#fff;
  font-size: 26px
}
.bottom_nav .burger i {
  display: none;
}

/* __________________ Media Qeuries __________________ */
@media (max-width: 600px) {
  .top_nav {
    justify-content: space-around;
    height: 50px;
    padding:0
  }
  .top_nav > i {
    display: block;
  }
  .top_nav .links_container a {
    flex:1;
    text-align: center;
    font-size: 14px
  }
  .top_nav .socials_container {
    display: none
  }
  .bottom_nav .burger i:first-child {
    display: block;
    color:var(--prime);
    cursor: pointer;
    font-size: 46px
  }
  .bottom_nav {
    position: absolute;
    flex-direction: column;
    justify-content: space-around;
    top:0;
    left: 0;
    height: 100vh;
    width:100%;
    background: var(--d);
    z-index: 3;
    padding:0;
    margin:0
  }
  .bottom_nav ul {
    flex-direction: column;
    width:100%;
    height:60%;
  }
  .bottom_nav ul li {
    flex-direction: column;
    height: 100%;
    width:100%;
  }
  .bottom_nav ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width:100%;

  }
  .home_a a {
   border:none;
   border-right:none !important;
   background:none;
 }
}
