.top_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:40px;
  padding:0 5%;
  border-bottom:1px solid lightgrey
}
/* /////////////////// dark mode /////////////////////// */
.darkNav {
  background:var(--d);
}
.darkModeButtons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width:100px
}
.darkModeButtons i {
  font-size:22px;
  cursor: pointer;
  color:var(--prime)
}
.lang_icon {
  color:var(--prime);
  user-select: none;
  font-size:20px;
  cursor: pointer;
}
.darkNav .top_nav  {
  border-bottom:1px solid #222831 !important;
}
.darkNav a {
  color:#fff !important;
  border-right:1px solid #222831 !important;
}
.darkNav a:last-child {
  border:none !important;
}
.darkNav .top_nav {
  background: var(--d) !important;
}
.darkNav .bottom_nav  {
  border-top:1px solid #222831 !important;
  border-bottom:1px solid #222831 !important;
}
/* ////////////////////////////////////////////////////// */
.top_nav .links_container {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  height:100%;
  width:100%;
}
.top_nav > i {
  display: none;
  font-size: 25px;
  color:var(--prime);
  padding:14px;
  cursor: pointer;
}
.top_nav .links_container a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding:0 10px;
  font-size: 12px;
  border-right:1px solid lightgrey;
  color:var(--a)
}
.top_nav .links_container a:last-child {
  border: none
}
.top_nav .socials_container {
  display: flex;
  align-items: center;
  height: 100%;
}
.top_nav .socials_container i {
  display: flex;
  justify-content: center;
  align-items: center;
  color:var(--prime);
  border-bottom: none;
  border-top: none;
  border-right: none;
  height: 100%;
  width:40px;
}
.title_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140px;
}
.title_container img {
  height: 80%;
  cursor: pointer;
}
.bottom_nav {
  display: block;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:60px;
  padding:0 5%;
  background-color: var(--d)
}
.bottom_nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width:100%;
  height: 100%;
}
.bottom_nav ul li {
  height: 100%;
  border-right:1px solid #222831;
}
.bottom_nav ul li a {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 20px;
  font-size: 12px;
  color:#fff
}
.bottom_nav ul li:last-child {
  border-right:none;
}
.bottom_nav .burger i {
  color:#fff;
  font-size: 26px
}
.bottom_nav .burger i {
  display: none;
}
/* ___________________ sideNav __________________ */
.sideNav {
  display: flex;
  position: fixed;flex-direction: column;
  background:var(--d);
  height: 100% !important;
  width: 100%;
  top:0;
  left:0;
  color:#fff;
  padding:0 14px;
  z-index: 5;
}
.sideNav a {
  color:#fff;
}
.sideNav > div {
  flex-grow:1;
  display: flex;
}
.sideNav > div > div {
  display: flex;
  flex:1;
  flex-direction: column;
  justify-content: space-around;
  border-right:1px solid var(--pr);
  margin:10px 0
}
.sideNav > div > div a {
  display: flex;
  align-items: center;
  flex-grow: 1
}
.right_links a {
  color:grey;
  font-size: 12px
}
.sideNav footer {
  height:30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sideNav footer i {
  display: flex;
  justify-content: center;
  align-items: center;
  color:#fff !important;
  font-size: 40px;
  border:1px solid var(--dlight);
  height:100px;
  width:100px;
  border-radius:4px;
}

/* __________________ Media Qeuries __________________ */
@media (max-width: 600px) {
  .top_nav {
    background: #fff;
    justify-content: space-around;
    height: 50px;
    padding:0
  }
  .top_nav > i {
    display: block;
    font-size: 40px;
  }
  .top_nav {
    justify-content: flex-end;
  }
  .top_nav .links_container {
    display: none;
  }
  .bottom_nav .burger i:first-child {
    display: block;
    color:var(--prime);
    cursor: pointer;
    font-size: 46px
  }
  .bottom_nav {
    display: none;
  }
}
