html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background:#eee
}

a {
  text-decoration: none;
  color:var(--a)
}
button {
  border:none;
  background:none;
  cursor: pointer;
}
ul {
  list-style: none;
}
* {
  box-sizing: border-box;
  padding:0;
  margin:0
}

:root {
  --prime: #D4342C;
  --i: #16213E;
  --a: #1B2430;
  --g: #444444;
  --d: #0F0E0E;

  --sideMargin: 20px
}
