.static_route {
  display: flex;
  padding:0 var(--sideMargin);
  margin-top:20px
}
.static_route main {
  width:70%;
  margin-right:20px;
}
/* _________________________ Post _________________________ */
.g_title {
  z-index: 3;
  color:#fff;
}
.content {
  margin:40px 0;
  margin-left:20px;
  line-height: 25px;
  color:var(--g)
}
.content h1 {
  margin:30px 0;
}
@media (max-width:600px) {
  .static_route {
    flex-direction: column;
    margin-top:20px
  }
  .static_route main {
    width:100%;
  }
  .post_content {
    margin-left:0
  }
  .simular_posts {
    margin-bottom:20px;
  }
  .simular_posts > div {
    flex-direction: column;
  }
  .simular_post {
    width: 100%;
    height: 300px;
  }
}
