.home > header {
  display: flex;
  height:400px;
}
.home header > a {
  position: relative;
  width:50%;
}
.header_child img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.header_child::before {
  content: "";
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,.2)
}
.header_child .content {
  position: absolute;
  bottom:5%;
  left:5%;
}
.header_child .header {
  display: inline-block;
  background:var(--prime);
  color:#fff;
  padding:5px 10px;
}
.header_child .content > p {
  font-size: 24px;
  color:#fff;
  margin:8px 0;
}
.header_child .content footer {
  color:#fff
}
.header_child .content footer span:last-child {
  margin-left:10px
}
/* ________________________ trending_posts _________________________ */
.trending_posts header {
  margin:0 var(--sideMargin);
  margin-top:20px;
  margin-bottom:40px;
  border-bottom:1px solid #0F0E0E
}
.trending_posts header p {
  display: inline-block;
  font-size:22px;
  padding:5px 14px;
  color: #fff;
  background:#0F0E0E;
}
.trending_posts main {
  display: flex;
  justify-content: space-between;
  margin:0 var(--sideMargin)
}
.trending_post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height:320px;
  width: 220px;
}
.trending_post .img_container {
  height:60%
}
.trending_post .img_container img {
  height: 100%;
  width: 100%;
  object-fit: cover
}
.trending_post .content {
  flex-grow: 1;
  padding:0 4px;
  font-size: 22px
}
.trending_post footer {
  display: flex;
  align-items: center;
  color:var(--g);
  padding:8px 0;
  font-size:14px
}
.trending_post footer div:first-child {
  margin-right:14px;
}
/* ____________________ intro _____________________ */
.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:60px var(--sideMargin);
  height:340px;
}
.intro > div {
  width:50%;
}
.intro img {
  width: 45%;
}
.intro .shade {
  color:var(--g);
  font-weight: 900
}
.intro .title {
  font-size: 36px;
  margin:8px 0;
  font-weight: 900;
}
.intro .title span:first-child {
  color:var(--prime) !important;
}
.intro .title span:last-child {
  color:var(--i) !important;
}
.intro .desc {
  color:var(--a)
}
/* ____________________ body ____________________ */
.body {
  display: flex;
  margin:0 var(--sideMargin);
}
/* ---------- main */
.bodyMain {
  width:70%;
  margin-right:20px;
}
.bodyMain .card {
  display: flex;
  height:220px;
  margin-bottom: 60px;
}
.bodyMain .card .img_container {
  height:100%;
  width:360px;
  margin-right: 20px;
}
.bodyMain .card .img_container img {
  height:100%;
  width:100%;
  object-fit: cover
}
.bosyMain_card_content {
  display: flex;
  flex-direction: column;
  align-items: left;
  flex-grow:1;
}
.bosyMain_card_content .tag {
  display: inline-block;
  width:60px;
  background:var(--prime);
  color:#fff;
  padding:5px 10px;
}
.bosyMain_card_content b {
  font-size: 24px;
  margin:8px 0;
}
.bosyMain_card_content footer {
  font-size: 12px;
  color:grey;
  margin:8px 0
}
.bosyMain_card_content .desc {
  color:var(--g)
}

/* ____________________ media queries ____________________ */
@media (max-width: 600px) {
  .trending_posts main {
    flex-direction:column;
    align-items: center;
  }
  .trending_posts main a {
    width:100%;
    margin-bottom:20px;
  }
  .intro {
    flex-direction: column;
    height: auto;
    width: 100%;
  }
  .intro > div {
    width:100%;
  }
  .intro > img {
    width:100%;
    margin:20px 0;
  }
  .body {
    flex-direction: column;
  }
  .bodyMain {
    width:100%;
  }
  .bodyMain .card {
    flex-direction: column;
    height: auto;
  }
  .bodyMain .card .img_container {
    width:100%;
    margin-bottom:10px
  }
}
