.home > header {
  display: flex;
  height:400px;
}
.home header > div {
  position: relative;
  width:50%;
}
.header_child img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.header_child::before {
  content: "";
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,.2)
}
.header_child .content {
  position: absolute;
  bottom:5%;
  left:5%;
}
.header_child .header {
  display: inline-block;
  background:var(--prime);
  color:#fff;
  padding:5px 10px;
}
.header_child .content > p {
  font-size: 24px;
  color:#fff;
  margin:8px 0;
}
.header_child .content footer {
  color:#fff
}
.header_child .content footer span:last-child {
  margin-left:10px
}
/* ________________________ trending_posts _________________________ */
.trending_posts header {
  margin:0 var(--sideMargin);
  margin-top:20px;
  margin-bottom:40px;
  border-bottom:1px solid #0F0E0E
}
.trending_posts header p {
  display: inline-block;
  font-size:22px;
  padding:5px 14px;
  color: #fff;
  background:#0F0E0E;
}
.trending_posts main {
  display: flex;
  justify-content: space-between;
  margin:0 var(--sideMargin)
}
.trending_post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height:320px;
  width: 220px;
}
.trending_post .img_container {
  height:60%
}
.trending_post .img_container img {
  height: 100%;
  width: 100%;
  object-fit: cover
}
.trending_post .content {
  flex-grow: 1;
  padding:0 4px;
  font-size: 22px
}
.trending_post footer {
  display: flex;
  align-items: center;
  color:var(--g);
  padding:8px 0;
  font-size:14px
}
.trending_post footer div:first-child {
  margin-right:14px;
}
/* ____________________ intro _____________________ */
.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:0 var(--sideMargin);
  height:300px;
}
.intro > div {
  width:50%;
}
.intro img {
  width: 40%;
}
