.postView_body {
  display: flex;
  padding:0 var(--sideMargin);
  margin-top:20px
}
.postView_body main {
  width:70%;
  margin-right:20px;
}
/* _________________________ Post _________________________ */
.postView_body .img_cont  {
  height:250px;
}
.postView_body .img_cont img {
  height:100%;
  width:100%;
  object-fit: cover;
}
.post_title {
  font-size: 40px;
}
.renderedPost_metadata {
  color:grey;
  font-size: 14px
}
.renderedPost_metadata i {
  margin  :5px
}
.post_content {
  margin:20px 0;
  line-height: 25px;
  color:var(--g)
}
/* _________________________ simular_posts _________________________ */
.simular_posts > div {
  display: flex;
  justify-content: space-between;
}
.simular_posts section {
  border-bottom:1px solid var(--i);
  margin-bottom: 20px;
}
.simular_posts section p {
  display: inline-block;
  background: var(--d);
  color:#fff;
  padding:8px 14px;
}
.simular_post {
  display: flex;
  flex-direction: column;
  height:250px;
  width: 240px;
}
.simular_post b {
  flex-grow: 1;
  margin:4px 0
}
.simular_post footer {
  padding:6px 0
}
.simular_post .img_cont {
  height:70%
}
.simular_post .img_cont img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.simular_post footer {
  font-size: 14px;
  color:grey
}

@media (max-width:600px) {
  .postView_body {
    flex-direction: column;
    margin-top:20px
  }
  .postView_body main {
    width:100%;
  }
  .post_content {
    margin-left:0
  }
  .simular_posts {
    margin-bottom:20px;
  }
  .simular_posts > div {
    flex-direction: column;
  }
  .simular_post {
    width: 100%;
    height: 300px;
  }
}
